body {
  width: 500px;
}

* {
  box-sizing: border-box;
}

.button {
  border: none;
  padding: .5em 2em;
  text-align: center;
  cursor: pointer;
  background-color: white;
  border-radius: 2px;
  color: white;
}

.button:hover {
    filter: brightness(.8);
}

.load-wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-inline-start: .5em;
    padding-inline-end: .5em;
    max-height: 200px;
    overflow-y: auto;
}

.load-wrapper::-webkit-scrollbar {
 width: 8px;
 height: 8px;
}
.load-wrapper::-webkit-scrollbar-thumb {
 background: #8E9EA7;
 border-radius: 4px;
}
.load-wrapper::-webkit-scrollbar-thumb:hover{
 background: #7E8E97;
}
.load-wrapper::-webkit-scrollbar-track{
 background: #ffffff;
 border-radius: 10px;
 box-shadow: inset 7px 10px 12px #f0f0f0;
}

.hidden {
    display: none;
}

.stretch {
    flex-grow: 1;
}

.flex-container {
    display: flex;
}

.button-container {
    flex-direction: column;
}

#SaveButton {
  background: #9EDAC8;
  display: flex;
}

.session-date {
  font-size: .8em;
  color: #aaa;
}

.session-item {
  align-items: center;
  display: flex;
  column-gap: 2em;
  justify-content: space-between;
  padding: .5em;
}

.session-item:not(:first-child) {
  border-top: 1px solid #0002;
}

.session-actions {
  display: flex;
  column-gap: .5em;
}

.session-load-button {
  background: #AA7FE0;
}

.session-delete-button {
  background: #FF675E;
}

.button-container {
  background: #9EAEB7;
  padding: .5em 1em;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: .5em;
}

.new-session-name-wrapper {
  background: white;
  flex-grow: 1;
  border-radius: 2px;
  padding: 0 .5em;
}

input[name="new-session-name"] {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}
